body header {
  position: fixed;
  width: 100%;
  z-index: 101;
}
header:not(.desktop_sticky_navbar),
body header:not(.desktop_sticky_navbar) {
  position: absolute;
  z-index: 10;
}
.scroller_container {
  background: linear-gradient(
    135deg,
    #fff 0,
    rgb(255, 255, 255) 16%,
    rgb(213, 213, 213) 16%,
    rgb(247, 247, 247) 16%,
    rgb(244, 244, 244) 17%,
    rgb(230, 230, 230) 35%,
    #fff 35%,
    rgb(233, 233, 233) 56%,
    #fff 56%,
    #fff 80%,
    #fff 80%,
    #fff 100%
  );
  height: auto;
  overflow: hidden;
  width: auto;
}
.testimonial-wrap .slick-dots li {
  width: auto;
  height: auto;
  margin-right: 20px;
}
.testimonial-wrap .slick-dots li.slick-active button::before {
  opacity: 1;
}
.testimonial-wrap .slick-dots li button::before {
  position: static;
  opacity: 1;
  color: transparent;
  content: "";
  display: block;
  min-width: 10px;
  background-color: #e74847;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0;
}
.testimonial-wrap .slick-dots li button {
  width: 15px;
  height: 15px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid rgba(231, 72, 71, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-wrap .slick-dots {
  position: static;
  margin-top: 30px;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
}
.off_grid_column .grid_item .slider .slick-track > div {
  padding: 0 15px;
  height: 100%;
}
.off_grid_column .grid_item .slider .swiper-slide {
  width: 100% !important;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.off_grid_column .grid_item .detail_content,
.customAboutUsSection .aboutUsInnerWrapper p {
  white-space: break-spaces;
}
.full_width_blockquote .body_content .custom-btn span {
  background: #e74847 !important;
}
.full_width_blockquote .body_content .custom-btn:hover span {
  background: #fff !important;
}
.full_width_blockquote .body_content .custom-btn a {
  border-color: #e74847;
  color: #e74847 !important;
}
.full_width_blockquote .body_content .custom-btn a:hover {
  background: #e74847;
  color: #fff !important;
}
.custom-btn i {
  border-color: transparent transparent transparent #e74847 !important;
}
.footer h5,
.footer address {
  color: #fff;
  white-space: break-spaces;
}
footer a,
.footer .sub-footer span {
  color: #fff;
}
footer .sub-footer .quicK_links {
  width: 100%;
}
@media (max-width: 1200px) {
  .off_grid_column .grid_item .slider {
    height: auto;
  }
  .off_grid_column .grid_item .slider .slick-list,
  .off_grid_column .grid_item .slider .slick-track {
    height: 100%;
  }
  .off_grid_column .grid_item .slider .swiper-slide {
    aspect-ratio: unset;
  }
}
#map iframe {
  width: 100%;
  display: block;
  height: 500px;
  max-height: 100vh;
  margin: 0 25px;
}
.navigation-menu #map .close_btn {
  background-color: #000;
}
.navigation-menu #map {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(246, 50, 62, 1);
  transform: translate(-50%, -50%);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.navigation-menu .inner figure div {
  width: 50px;
  height: 50px;
  line-height: 44px;
  position: absolute;
  right: 6px;
  top: 6px;
  cursor: pointer;
  background: #fff;
  text-align: center;
}
.navigation-menu .close_btn {
  z-index: 0;
}
.modal.fade.get_in_touch_form {
  background-color: rgba(246, 50, 62, 1);
}
.close:not(:disabled):not(.disabled):focus {
  opacity: 1;
}
.opacity-1 {
  opacity: 1 !important;
}
.inner_page .navbar .main-menu ul li a {
  color: #000;
}
header:not(.inner_page) .navbar .logo.light {
  display: block;
}
header:not(.inner_page) .navbar .logo {
  display: none;
}
header.desktop_sticky_navbar:not(.inner_page) .navbar .logo.light {
  display: none;
}
header.desktop_sticky_navbar:not(.inner_page) .navbar .logo {
  display: block;
}
header:not(.inner_page) .navbar .main-menu ul li a,
header:not(.inner_page) .top_header ul.contact_phone a {
  color: #fff;
}
header.inner_page li.menu-item-has-children ul.sub-menu li a {
  color: #fff;
}
header.inner_page:not(.desktop_sticky_navbar) {
  position: static;
}
header.desktop_sticky_navbar:not(.inner_page) .navbar .main-menu ul li a,
header.desktop_sticky_navbar:not(.inner_page) .top_header ul.contact_phone a {
  color: #000;
}
@media (min-width: 1200px) {
  header.inner_page .navbar .main-menu ul li a:hover {
    color: #e74847;
  }
}
#nprogress .bar {
  background: #e74847;
  height: 4px;
}
.about-intro h3,
.contact address,
.case-detail p {
  white-space: break-spaces;
}
.project-box .project-content > span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.color-white .works .custom-btn a {
  cursor: pointer;
}
.potfolio_contact_form .contact-form-popup {
  background-color: #fff;
  position: relative;
}
.potfolio_contact_form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e74847;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.contact h5.empty_add_title {
  margin-bottom: 20px;
}
.porfolio_link {
  font-size: 24px;
}
.page-header .video-bg img {
  height: 100%;
  object-fit: cover;
}
.case-detail {
  padding: 60px 0;
}

.case-detail .content_box ul {
  margin-bottom: 50px;
}
.case-detail .content_box ul li::marker {
  color: #e74847;
}
.case-detail .content_box {
  margin-bottom: 25px;
  color: #333;
  font-size: 18px;
}
.porfolio_list_row .portfolio_list_cards a{
  text-decoration: none;
}
